</br></br></br></br></br></br></br></br>

<div class="row">
  <div class="large-6 columns">
<h3>Let's hatch something together</h3>
</div>

  <div class="large-6 columns">
<form method="post" action="/mutf_summary">
      <p>Type in a mutual fund you'd like to analyze here:</p>

      <input type="text" name="fund" placeholder="Fund Symbol" />

      <input type="submit" value="Hatch" class="button postfix"/>

</form>
</div>
</div>